select * from dbo.Student
select * from dbo.Account
/*student 1*/
insert into dbo.Account(UserName,Password,RetypePassword,Email,Gender,RoleId,Status) values('student1','123','123','student1@gmail.com',1,3,1)
insert into dbo.Student(UserName,FirstName,LastName,Address,Phone,Email,Age) values('student1',N'Nam',N'Nguyễn','Tam phú','123123123','student1@gmail.com',23)
/*student 2*/
insert into dbo.Account(UserName,Password,RetypePassword,Email,Gender,RoleId,Status) values('student2','123','123','student2@gmail.com',1,3,1)
insert into dbo.Student(UserName,FirstName,LastName,Address,Phone,Age) values('student2',N'Tuấn',N'Nguyễn',N'Tam phú','123123123',23)
/*student 3*/
insert into dbo.Account(UserName,Password,RetypePassword,Email,Gender,RoleId,Status) values('student3','123','123','anhhn1@gmail.com',1,3,1)
insert into dbo.Student(UserName,FirstName,LastName,Address,Phone,Email,Age) values('student3',N'Nam',N'Hoàng',N'13 sương nguyệt ánh q1','123123123','student3@gmail.com',21)
/*student 4*/
/*student 5*/
/*student 6*/
/*student 7*/
/*student 8*/
/*student 9*/
/*student 10*/
/*student 11*/
/*student 12*/
/*student 13*/
/*student 14*/
/*student 15*/
/*student 16*/
/*student 17*/
/*student 18*/
/*student 19*/
/*student 20*/
/*student 21*/
/*student 22*/
/*student 23*/
/*student 24*/
/*student 25*/
/*student 26*/
/*student 27*/
/*student 28*/
/*student 29*/
/*student 30*/
/*student 31*/
/*student 32*/
/*student 33*/
/*student 34*/
/*student 35*/
/*student 36*/
/*student 37*/
/*student 38*/
/*student 39*/
/*student 40*/
/*student 41*/
/*student 42*/
/*student 43*/
/*student 44*/
/*student 45*/
/*student 46*/
/*student 47*/
/*student 48*/
/*student 49*/
/*student 50*/
/*EMPLOYER*/
select * from dbo.Employer
/*employer 1*/
insert into dbo.Employer(UserName,CompanyName,Descriptions,Address,Phone,Email) values('employer1',N'Nhà Thuốc Tú Quỳnh',N'Nhà thuốc tây tư nhân',N'84 CMT8 Q3','123123123','employer1@gmail.com')
/*employer 2*/
/*employer 3*/
insert into dbo.Employer(UserName,CompanyName,Descriptions,Address,Phone,Email) values('employer3',N'Nhà Thuốc Tú Quỳnh',N'Nhà thuốc tây tư nhân',N'84 CMT8 Q3','123123123','employer1@gmail.com')
/*employer 4*/
/*employer 5*/
/*employer 6*/
/*employer 7*/
/*employer 8*/
/*employer 9*/
/*employer 10*/
/*employer 11*/
/*employer 12*/
/*employer 13*/
/*employer 14*/
/*employer 15*/
/*employer 16*/
/*employer 17*/
/*employer 18*/
/*employer 19*/
/*employer 20*/
/*employer 21*/
/*employer 22*/
/*employer 23*/
/*employer 24*/
/*employer 25*/
/*employer 26*/
/*employer 27*/
/*employer 28*/
/*employer 29*/
/*employer 30*/
/*employer 31*/
/*employer 32*/
/*employer 33*/
/*employer 34*/
/*employer 35*/
/*employer 36*/
/*employer 37*/
/*employer 38*/
/*employer 39*/
/*employer 40*/
/*employer 41*/
/*employer 42*/
/*employer 43*/
/*employer 44*/
/*employer 45*/
/*employer 46*/
/*employer 47*/
/*employer 48*/
/*employer 49*/
/*employer 50*/
/*JOB*/
select * from dbo.Job
/*Job 1*/
insert into dbo.Job(UserName,JobId,Name,Description,Requirement,Benefit,CandidateQuantity,YearOfExp,Salary,TimeUnit,Status,StartDate,EndDate) 
values('employer1',101,N'Nhân viên bán hàng',N'Bán hàng tại trung tâm thương mại',N'Nữ, ngoại hình dễ nhìn, khéo ăn nói',N'Dược dùng thử hàng của công ty, hỗ trợ ăn trưa',10,1,200000,'ca','Active','20150505 10:34:09 AM','20150605 10:34:09 AM')
/*Job 2*/
insert into dbo.Job(UserName,JobId,Name,Description,Requirement,Benefit,CandidateQuantity,YearOfExp,Salary,TimeUnit,Status,StartDate,EndDate) 
values('employer1',102,N'Nhân viên tư vấn',N'Tư vấn sản phẩm tại cửa hàng',N'Nữ, ngoại hình dễ nhìn, khéo ăn nói',N'Dược dùng thử hàng của công ty, hỗ trợ ăn trưa',10,1,200000,'ca','Active','20150505 10:00:09 AM','20150605 10:34:09 AM')
/*Job 3*/
insert into dbo.Job(UserName,JobId,Name,Description,Requirement,Benefit,CandidateQuantity,YearOfExp,Salary,TimeUnit,Status,StartDate,EndDate) 
values('employer2',103,N'Nhân Viên Kinh Doanh',N'Tư vấn sản phẩm tại cửa hàng',N'Nữ, ngoại hình dễ nhìn, khéo ăn nói',N'Dược dùng thử hàng của công ty, hỗ trợ ăn trưa',10,1,200000,'ca','Active','20150505 10:01:09 AM','20150605 10:34:09 AM')
/*Job 4*/
/*Job 5*/
/*Job 6*/
/*Job 7*/
/*Job 8*/
/*Job 9*/
/*Job 10*/
/*Job 11*/
/*Job 12*/
/*Job 13*/
/*Job 14*/
/*Job 15*/
/*Job 16*/
/*Job 17*/
/*Job 18*/
/*Job 19*/
/*Job 20*/
/*Job 21*/
/*Job 22*/
/*Job 23*/
/*Job 24*/
/*Job 25*/
/*Job 26*/
/*Job 27*/
/*Job 28*/
/*Job 29*/
/*Job 30*/
/*Job 31*/
/*Job 32*/
/*Job 33*/
/*Job 34*/
/*Job 35*/
/*Job 36*/
/*Job 37*/
/*Job 38*/
/*Job 39*/
/*Job 40*/
/*Job 41*/
/*Job 42*/
/*Job 43*/
/*Job 44*/
/*Job 45*/
/*Job 46*/
/*Job 47*/
/*Job 48*/
/*Job 49*/
/*Job 50*/
/*Job 51*/
/*Job 52*/
/*Job 53*/
/*Job 54*/
/*Job 55*/
/*Job 56*/
/*Job 57*/
/*Job 58*/
/*Job 59*/
/*Job 60*/
/*Job 61*/
/*Job 62*/
/*Job 63*/
/*Job 64*/
/*Job 65*/
/*Job 66*/
/*Job 67*/
/*Job 68*/
/*Job 69*/
/*Job 70*/
/*Job 71*/
/*Job 72*/
/*Job 73*/
/*Job 74*/
/*Job 75*/
/*Job 76*/
/*Job 77*/
/*Job 78*/
/*Job 79*/
/*Job 80*/
/*Job 81*/
/*Job 82*/
/*Job 83*/
/*Job 84*/
/*Job 85*/
/*Job 86*/
/*Job 87*/
/*Job 88*/
/*Job 89*/
/*Job 90*/
/*Job 91*/
/*Job 92*/
/*Job 93*/
/*Job 94*/
/*Job 95*/
/*Job 96*/
/*Job 97*/
/*Job 98*/
/*Job 99*/
/*Job 100*/
