USE [master]
GO
/****** Object:  Database [SBWebsiteData]    Script Date: 04/16/2015 06:03:42 ******/
CREATE DATABASE [SBWebsiteData] ON  PRIMARY 
( NAME = N'SBWebsiteData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SBWebsiteData.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SBWebsiteData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SBWebsiteData_log.LDF' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SBWebsiteData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SBWebsiteData]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04/16/2015 06:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Time]    Script Date: 04/16/2015 06:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Time](
	[TimeId] [int] NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.Time] PRIMARY KEY CLUSTERED 
(
	[TimeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TakeExam]    Script Date: 04/16/2015 06:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TakeExam](
	[TakeExamid] [int] NOT NULL,
	[UserStudent] [varchar](50) NOT NULL,
	[ContestId] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[DateJoining] [datetime] NULL,
	[Score] [int] NULL,
	[TotalScore] [int] NULL,
 CONSTRAINT [PK_dbo.TakeExam] PRIMARY KEY CLUSTERED 
(
	[TakeExamid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_ContestId] ON [dbo].[TakeExam] 
(
	[ContestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserStudent] ON [dbo].[TakeExam] 
(
	[UserStudent] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skill]    Script Date: 04/16/2015 06:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[SkillId] [int] IDENTITY(1,1) NOT NULL,
	[SkillName] [nvarchar](100) NULL,
	[Description] [nvarchar](1500) NULL,
 CONSTRAINT [PK_dbo.Skill] PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 04/16/2015 06:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] NOT NULL,
	[RoleName] [varchar](50) NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Question]    Script Date: 04/16/2015 06:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionId] [int] NOT NULL,
	[ContentQuestion] [nvarchar](400) NULL,
	[OptionA] [nvarchar](200) NULL,
	[OptionB] [nvarchar](200) NULL,
	[OptionC] [nvarchar](200) NULL,
	[OptionD] [nvarchar](200) NULL,
	[Answer] [nvarchar](10) NULL,
	[MarkofQuestion] [real] NULL,
	[Note] [nvarchar](250) NULL,
	[ContestId] [int] NULL,
 CONSTRAINT [PK_dbo.Question] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ContestId] ON [dbo].[Question] 
(
	[ContestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 04/16/2015 06:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 04/16/2015 06:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[UserName] [varchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Status] [bit] NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[RetypePassword] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[Gender] [bit] NOT NULL,
	[DateCreate] [datetime] NULL,
	[ImgLink] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Account] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[Account] 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 04/16/2015 06:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[UserName] [varchar](50) NOT NULL,
	[FirstName] [nvarchar](20) NULL,
	[LastName] [nvarchar](50) NULL,
	[Address] [nvarchar](300) NULL,
	[Descriptions] [nvarchar](500) NULL,
	[BirthDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Student] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UserName] ON [dbo].[Student] 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 04/16/2015 06:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Staff](
	[UserName] [varchar](50) NOT NULL,
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Address] [nvarchar](300) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
 CONSTRAINT [PK_dbo.Staff] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UserName] ON [dbo].[Staff] 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 04/16/2015 06:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Notification](
	[NotiId] [int] NOT NULL,
	[SenderUser] [varchar](50) NULL,
	[ContentNoty] [nvarchar](500) NULL,
	[Title] [nvarchar](max) NULL,
	[Type] [varchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[ReceiveUser] [varchar](50) NULL,
	[SendTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Notification] PRIMARY KEY CLUSTERED 
(
	[NotiId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_ReceiveUser] ON [dbo].[Notification] 
(
	[ReceiveUser] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_SenderUser] ON [dbo].[Notification] 
(
	[SenderUser] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialFile]    Script Date: 04/16/2015 06:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MaterialFile](
	[FileId] [int] NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[FileType] [nvarchar](max) NULL,
	[ImageType] [nvarchar](max) NULL,
	[Description] [nvarchar](150) NULL,
	[Status] [nvarchar](max) NULL,
	[UploadDate] [datetime] NULL,
	[TimesDownload] [int] NULL,
	[OwnerUser] [varchar](50) NULL,
	[shareStudents] [nvarchar](max) NULL,
	[linkFile] [nvarchar](100) NULL,
	[Size] [float] NOT NULL,
 CONSTRAINT [PK_dbo.MaterialFile] PRIMARY KEY CLUSTERED 
(
	[FileId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_OwnerUser] ON [dbo].[MaterialFile] 
(
	[OwnerUser] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employer]    Script Date: 04/16/2015 06:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employer](
	[UserName] [varchar](50) NOT NULL,
	[CompanyName] [nvarchar](250) NULL,
	[Descriptions] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Employer] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UserName] ON [dbo].[Employer] 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountShareFile]    Script Date: 04/16/2015 06:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccountShareFile](
	[AccountName] [varchar](50) NOT NULL,
	[FileSharingId] [int] NOT NULL,
	[Descriptions] [nvarchar](150) NULL,
 CONSTRAINT [PK_dbo.AccountShareFile] PRIMARY KEY CLUSTERED 
(
	[AccountName] ASC,
	[FileSharingId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_AccountName] ON [dbo].[AccountShareFile] 
(
	[AccountName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FileSharingId] ON [dbo].[AccountShareFile] 
(
	[FileSharingId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contest]    Script Date: 04/16/2015 06:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contest](
	[ContestId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreateDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Descriptions] [nvarchar](500) NULL,
	[Requiment] [nvarchar](200) NULL,
	[Status] [varchar](50) NOT NULL,
	[EmployerUser] [varchar](50) NULL,
	[RequiMark] [real] NULL,
	[TotalMark] [int] NULL,
 CONSTRAINT [PK_dbo.Contest] PRIMARY KEY CLUSTERED 
(
	[ContestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_EmployerUser] ON [dbo].[Contest] 
(
	[EmployerUser] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryFile]    Script Date: 04/16/2015 06:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryFile](
	[CategoryId] [int] NOT NULL,
	[FileId] [int] NOT NULL,
	[Descriptions] [nvarchar](150) NULL,
 CONSTRAINT [PK_dbo.CategoryFile] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC,
	[FileId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[CategoryFile] 
(
	[CategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FileId] ON [dbo].[CategoryFile] 
(
	[FileId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentSkill]    Script Date: 04/16/2015 06:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StudentSkill](
	[UserName] [varchar](50) NOT NULL,
	[SkillId] [int] NOT NULL,
	[Description] [nvarchar](150) NULL,
 CONSTRAINT [PK_dbo.StudentSkill] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC,
	[SkillId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_SkillId] ON [dbo].[StudentSkill] 
(
	[SkillId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserName] ON [dbo].[StudentSkill] 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentFreetime]    Script Date: 04/16/2015 06:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StudentFreetime](
	[UserName] [varchar](50) NOT NULL,
	[TimeId] [int] NOT NULL,
	[Descriptions] [nvarchar](150) NULL,
 CONSTRAINT [PK_dbo.StudentFreetime] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC,
	[TimeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TimeId] ON [dbo].[StudentFreetime] 
(
	[TimeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserName] ON [dbo].[StudentFreetime] 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentCategory]    Script Date: 04/16/2015 06:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StudentCategory](
	[UserName] [varchar](50) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Description] [nvarchar](150) NULL,
 CONSTRAINT [PK_dbo.StudentCategory] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[StudentCategory] 
(
	[CategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserName] ON [dbo].[StudentCategory] 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 04/16/2015 06:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Job](
	[JobId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Benefit] [nvarchar](1000) NULL,
	[YearOfExp] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[CandidateQuantity] [int] NULL,
	[SuggestQuantity] [int] NULL,
	[Salary] [int] NULL,
	[Status] [nvarchar](max) NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Requirement] [nvarchar](1000) NOT NULL,
	[RequirementProfile] [nvarchar](max) NULL,
	[UserName] [varchar](50) NOT NULL,
	[ContestId] [int] NULL,
	[TimeUnit] [nvarchar](max) NULL,
	[StaffName] [varchar](50) NULL,
 CONSTRAINT [PK_dbo.Job] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_ContestId] ON [dbo].[Job] 
(
	[ContestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserName] ON [dbo].[Job] 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionsContest]    Script Date: 04/16/2015 06:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionsContest](
	[ContestId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_QuestionsContest] PRIMARY KEY CLUSTERED 
(
	[ContestId] ASC,
	[QuestionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 04/16/2015 06:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Event](
	[EventId] [int] NOT NULL,
	[EventName] [nvarchar](100) NOT NULL,
	[RegisDate] [datetime] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[EndDateSysTem] [datetime] NULL,
	[QuantityStudent] [int] NULL,
	[Status] [nvarchar](max) NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Requirement] [nvarchar](1000) NULL,
	[UserName] [varchar](50) NULL,
	[ContestId] [int] NULL,
	[StaffName] [varchar](50) NULL,
 CONSTRAINT [PK_dbo.Event] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_ContestId] ON [dbo].[Event] 
(
	[ContestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserName] ON [dbo].[Event] 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryContest]    Script Date: 04/16/2015 06:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryContest](
	[CategoryId] [int] NOT NULL,
	[ContestId] [int] NOT NULL,
	[Descriptions] [nvarchar](150) NULL,
 CONSTRAINT [PK_dbo.CategoryContest] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC,
	[ContestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[CategoryContest] 
(
	[CategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ContestId] ON [dbo].[CategoryContest] 
(
	[ContestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobTime]    Script Date: 04/16/2015 06:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTime](
	[JobId] [int] NOT NULL,
	[TimeId] [int] NOT NULL,
	[Descriptions] [nvarchar](150) NULL,
 CONSTRAINT [PK_dbo.JobTime] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC,
	[TimeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_JobId] ON [dbo].[JobTime] 
(
	[JobId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TimeId] ON [dbo].[JobTime] 
(
	[TimeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobStudent]    Script Date: 04/16/2015 06:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JobStudent](
	[UserStudent] [varchar](50) NOT NULL,
	[JobId] [int] NOT NULL,
	[ApplyTime] [datetime] NULL,
	[Status] [nvarchar](max) NULL,
	[JobStuId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.JobStudent] PRIMARY KEY CLUSTERED 
(
	[UserStudent] ASC,
	[JobId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_JobId] ON [dbo].[JobStudent] 
(
	[JobId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserStudent] ON [dbo].[JobStudent] 
(
	[UserStudent] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventStudent]    Script Date: 04/16/2015 06:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EventStudent](
	[UserStudent] [varchar](50) NOT NULL,
	[EventId] [int] NOT NULL,
	[ApplyTime] [datetime] NULL,
	[Status] [nvarchar](max) NULL,
	[UserName] [varchar](50) NULL,
 CONSTRAINT [PK_dbo.EventStudent] PRIMARY KEY CLUSTERED 
(
	[UserStudent] ASC,
	[EventId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_EventId] ON [dbo].[EventStudent] 
(
	[EventId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserName] ON [dbo].[EventStudent] 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventCategory]    Script Date: 04/16/2015 06:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventCategory](
	[CategoryId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
	[EventCatId] [int] NOT NULL,
	[Descriptions] [nvarchar](150) NULL,
 CONSTRAINT [PK_dbo.EventCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC,
	[EventId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[EventCategory] 
(
	[CategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_EventId] ON [dbo].[EventCategory] 
(
	[EventId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryJob]    Script Date: 04/16/2015 06:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryJob](
	[CategoryId] [int] NOT NULL,
	[JobId] [int] NOT NULL,
	[Descriptions] [nvarchar](150) NULL,
 CONSTRAINT [PK_dbo.CategoryJob] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC,
	[JobId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[CategoryJob] 
(
	[CategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_JobId] ON [dbo].[CategoryJob] 
(
	[JobId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuggestionJob]    Script Date: 04/16/2015 06:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SuggestionJob](
	[UserName] [varchar](50) NOT NULL,
	[JobId] [int] NOT NULL,
	[Descriptions] [nvarchar](100) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SuggestionJob] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC,
	[JobId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_JobId] ON [dbo].[SuggestionJob] 
(
	[JobId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserName] ON [dbo].[SuggestionJob] 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuggestionEvent]    Script Date: 04/16/2015 06:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SuggestionEvent](
	[UserName] [varchar](50) NOT NULL,
	[EventId] [int] NOT NULL,
	[Descriptions] [nvarchar](150) NULL,
 CONSTRAINT [PK_dbo.SuggestionEvent] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC,
	[EventId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_EventId] ON [dbo].[SuggestionEvent] 
(
	[EventId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserName] ON [dbo].[SuggestionEvent] 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkillJob]    Script Date: 04/16/2015 06:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillJob](
	[JobId] [int] NOT NULL,
	[Skillid] [int] NOT NULL,
	[Descriptions] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.SkillJob] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC,
	[Skillid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_JobId] ON [dbo].[SkillJob] 
(
	[JobId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Skillid] ON [dbo].[SkillJob] 
(
	[Skillid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultContest]    Script Date: 04/16/2015 06:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ResultContest](
	[StudentName] [varchar](50) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[UserChoice] [varchar](10) NULL,
	[Status] [nvarchar](100) NULL,
	[ContestId] [int] NOT NULL,
	[TimeDoContest] [datetime] NULL,
	[UserMark] [int] NULL,
 CONSTRAINT [PK_dbo.ResultContest] PRIMARY KEY CLUSTERED 
(
	[StudentName] ASC,
	[QuestionId] ASC,
	[ContestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_QuestionId] ON [dbo].[ResultContest] 
(
	[QuestionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TakeExamId] ON [dbo].[ResultContest] 
(
	[ContestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Getstudentname]    Script Date: 04/16/2015 06:03:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create  PROCEDURE [dbo].[Getstudentname](

@id INT                   --Input parameter ,  Studentid of the student 

)
AS
BEGIN
select * from SuggestionJob where jobid = @id
END
GO
/****** Object:  ForeignKey [FK_dbo.Account_dbo.Role_RoleId]    Script Date: 04/16/2015 06:03:43 ******/
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Account_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_dbo.Account_dbo.Role_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.Student_dbo.Account_UserName]    Script Date: 04/16/2015 06:03:43 ******/
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Student_dbo.Account_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[Account] ([UserName])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_dbo.Student_dbo.Account_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.Staff_dbo.Account_UserName]    Script Date: 04/16/2015 06:03:43 ******/
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Staff_dbo.Account_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[Account] ([UserName])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_dbo.Staff_dbo.Account_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.Notification_dbo.Account_ReceiveUser]    Script Date: 04/16/2015 06:03:43 ******/
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notification_dbo.Account_ReceiveUser] FOREIGN KEY([ReceiveUser])
REFERENCES [dbo].[Account] ([UserName])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_dbo.Notification_dbo.Account_ReceiveUser]
GO
/****** Object:  ForeignKey [FK_dbo.Notification_dbo.Account_SenderUser]    Script Date: 04/16/2015 06:03:43 ******/
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notification_dbo.Account_SenderUser] FOREIGN KEY([SenderUser])
REFERENCES [dbo].[Account] ([UserName])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_dbo.Notification_dbo.Account_SenderUser]
GO
/****** Object:  ForeignKey [FK_dbo.MaterialFile_dbo.Account_OwnerUser]    Script Date: 04/16/2015 06:03:43 ******/
ALTER TABLE [dbo].[MaterialFile]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MaterialFile_dbo.Account_OwnerUser] FOREIGN KEY([OwnerUser])
REFERENCES [dbo].[Account] ([UserName])
GO
ALTER TABLE [dbo].[MaterialFile] CHECK CONSTRAINT [FK_dbo.MaterialFile_dbo.Account_OwnerUser]
GO
/****** Object:  ForeignKey [FK_dbo.Employer_dbo.Account_UserName]    Script Date: 04/16/2015 06:03:43 ******/
ALTER TABLE [dbo].[Employer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employer_dbo.Account_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[Account] ([UserName])
GO
ALTER TABLE [dbo].[Employer] CHECK CONSTRAINT [FK_dbo.Employer_dbo.Account_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.AccountShareFile_dbo.Account_AccountName]    Script Date: 04/16/2015 06:03:43 ******/
ALTER TABLE [dbo].[AccountShareFile]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AccountShareFile_dbo.Account_AccountName] FOREIGN KEY([AccountName])
REFERENCES [dbo].[Account] ([UserName])
GO
ALTER TABLE [dbo].[AccountShareFile] CHECK CONSTRAINT [FK_dbo.AccountShareFile_dbo.Account_AccountName]
GO
/****** Object:  ForeignKey [FK_dbo.AccountShareFile_dbo.MaterialFile_FileSharingId]    Script Date: 04/16/2015 06:03:43 ******/
ALTER TABLE [dbo].[AccountShareFile]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AccountShareFile_dbo.MaterialFile_FileSharingId] FOREIGN KEY([FileSharingId])
REFERENCES [dbo].[MaterialFile] ([FileId])
GO
ALTER TABLE [dbo].[AccountShareFile] CHECK CONSTRAINT [FK_dbo.AccountShareFile_dbo.MaterialFile_FileSharingId]
GO
/****** Object:  ForeignKey [FK_dbo.Contest_dbo.Employer_EmployerUser]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[Contest]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contest_dbo.Employer_EmployerUser] FOREIGN KEY([EmployerUser])
REFERENCES [dbo].[Employer] ([UserName])
GO
ALTER TABLE [dbo].[Contest] CHECK CONSTRAINT [FK_dbo.Contest_dbo.Employer_EmployerUser]
GO
/****** Object:  ForeignKey [FK_dbo.CategoryFile_dbo.Category_CategoryId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[CategoryFile]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryFile_dbo.Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[CategoryFile] CHECK CONSTRAINT [FK_dbo.CategoryFile_dbo.Category_CategoryId]
GO
/****** Object:  ForeignKey [FK_dbo.CategoryFile_dbo.MaterialFile_FileId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[CategoryFile]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryFile_dbo.MaterialFile_FileId] FOREIGN KEY([FileId])
REFERENCES [dbo].[MaterialFile] ([FileId])
GO
ALTER TABLE [dbo].[CategoryFile] CHECK CONSTRAINT [FK_dbo.CategoryFile_dbo.MaterialFile_FileId]
GO
/****** Object:  ForeignKey [FK_dbo.StudentSkill_dbo.Skill_SkillId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[StudentSkill]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentSkill_dbo.Skill_SkillId] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skill] ([SkillId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentSkill] CHECK CONSTRAINT [FK_dbo.StudentSkill_dbo.Skill_SkillId]
GO
/****** Object:  ForeignKey [FK_dbo.StudentSkill_dbo.Student_UserName]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[StudentSkill]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentSkill_dbo.Student_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[Student] ([UserName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentSkill] CHECK CONSTRAINT [FK_dbo.StudentSkill_dbo.Student_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.StudentFreetime_dbo.Student_UserName]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[StudentFreetime]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentFreetime_dbo.Student_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[Student] ([UserName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentFreetime] CHECK CONSTRAINT [FK_dbo.StudentFreetime_dbo.Student_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.StudentFreetime_dbo.Time_TimeId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[StudentFreetime]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentFreetime_dbo.Time_TimeId] FOREIGN KEY([TimeId])
REFERENCES [dbo].[Time] ([TimeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentFreetime] CHECK CONSTRAINT [FK_dbo.StudentFreetime_dbo.Time_TimeId]
GO
/****** Object:  ForeignKey [FK_dbo.StudentCategory_dbo.Category_CategoryId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[StudentCategory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentCategory_dbo.Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentCategory] CHECK CONSTRAINT [FK_dbo.StudentCategory_dbo.Category_CategoryId]
GO
/****** Object:  ForeignKey [FK_dbo.StudentCategory_dbo.Student_UserName]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[StudentCategory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentCategory_dbo.Student_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[Student] ([UserName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentCategory] CHECK CONSTRAINT [FK_dbo.StudentCategory_dbo.Student_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.Job_dbo.Contest_ContestId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Job_dbo.Contest_ContestId] FOREIGN KEY([ContestId])
REFERENCES [dbo].[Contest] ([ContestId])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_dbo.Job_dbo.Contest_ContestId]
GO
/****** Object:  ForeignKey [FK_dbo.Job_dbo.Employer_UserName]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Job_dbo.Employer_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[Employer] ([UserName])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_dbo.Job_dbo.Employer_UserName]
GO
/****** Object:  ForeignKey [FK_Job_Staff]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_Staff] FOREIGN KEY([StaffName])
REFERENCES [dbo].[Staff] ([UserName])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_Staff]
GO
/****** Object:  ForeignKey [FK_QuestionsContest_Contest]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[QuestionsContest]  WITH CHECK ADD  CONSTRAINT [FK_QuestionsContest_Contest] FOREIGN KEY([ContestId])
REFERENCES [dbo].[Contest] ([ContestId])
GO
ALTER TABLE [dbo].[QuestionsContest] CHECK CONSTRAINT [FK_QuestionsContest_Contest]
GO
/****** Object:  ForeignKey [FK_QuestionsContest_Question]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[QuestionsContest]  WITH CHECK ADD  CONSTRAINT [FK_QuestionsContest_Question] FOREIGN KEY([ContestId])
REFERENCES [dbo].[Question] ([QuestionId])
GO
ALTER TABLE [dbo].[QuestionsContest] CHECK CONSTRAINT [FK_QuestionsContest_Question]
GO
/****** Object:  ForeignKey [FK_dbo.Event_dbo.Contest_ContestId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Event_dbo.Contest_ContestId] FOREIGN KEY([ContestId])
REFERENCES [dbo].[Contest] ([ContestId])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_dbo.Event_dbo.Contest_ContestId]
GO
/****** Object:  ForeignKey [FK_dbo.Event_dbo.Employer_UserName]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Event_dbo.Employer_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[Employer] ([UserName])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_dbo.Event_dbo.Employer_UserName]
GO
/****** Object:  ForeignKey [FK_Event_Staff]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Staff] FOREIGN KEY([StaffName])
REFERENCES [dbo].[Staff] ([UserName])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Staff]
GO
/****** Object:  ForeignKey [FK_dbo.CategoryContest_dbo.Category_CategoryId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[CategoryContest]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryContest_dbo.Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[CategoryContest] CHECK CONSTRAINT [FK_dbo.CategoryContest_dbo.Category_CategoryId]
GO
/****** Object:  ForeignKey [FK_dbo.CategoryContest_dbo.Contest_ContestId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[CategoryContest]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryContest_dbo.Contest_ContestId] FOREIGN KEY([ContestId])
REFERENCES [dbo].[Contest] ([ContestId])
GO
ALTER TABLE [dbo].[CategoryContest] CHECK CONSTRAINT [FK_dbo.CategoryContest_dbo.Contest_ContestId]
GO
/****** Object:  ForeignKey [FK_dbo.JobTime_dbo.Job_JobId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[JobTime]  WITH CHECK ADD  CONSTRAINT [FK_dbo.JobTime_dbo.Job_JobId] FOREIGN KEY([JobId])
REFERENCES [dbo].[Job] ([JobId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobTime] CHECK CONSTRAINT [FK_dbo.JobTime_dbo.Job_JobId]
GO
/****** Object:  ForeignKey [FK_dbo.JobTime_dbo.Time_TimeId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[JobTime]  WITH CHECK ADD  CONSTRAINT [FK_dbo.JobTime_dbo.Time_TimeId] FOREIGN KEY([TimeId])
REFERENCES [dbo].[Time] ([TimeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobTime] CHECK CONSTRAINT [FK_dbo.JobTime_dbo.Time_TimeId]
GO
/****** Object:  ForeignKey [FK_dbo.JobStudent_dbo.Job_JobId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[JobStudent]  WITH CHECK ADD  CONSTRAINT [FK_dbo.JobStudent_dbo.Job_JobId] FOREIGN KEY([JobId])
REFERENCES [dbo].[Job] ([JobId])
GO
ALTER TABLE [dbo].[JobStudent] CHECK CONSTRAINT [FK_dbo.JobStudent_dbo.Job_JobId]
GO
/****** Object:  ForeignKey [FK_dbo.JobStudent_dbo.Student_UserStudent]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[JobStudent]  WITH CHECK ADD  CONSTRAINT [FK_dbo.JobStudent_dbo.Student_UserStudent] FOREIGN KEY([UserStudent])
REFERENCES [dbo].[Student] ([UserName])
GO
ALTER TABLE [dbo].[JobStudent] CHECK CONSTRAINT [FK_dbo.JobStudent_dbo.Student_UserStudent]
GO
/****** Object:  ForeignKey [FK_dbo.EventStudent_dbo.Event_EventId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[EventStudent]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventStudent_dbo.Event_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
GO
ALTER TABLE [dbo].[EventStudent] CHECK CONSTRAINT [FK_dbo.EventStudent_dbo.Event_EventId]
GO
/****** Object:  ForeignKey [FK_dbo.EventStudent_dbo.Student_UserName]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[EventStudent]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventStudent_dbo.Student_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[Student] ([UserName])
GO
ALTER TABLE [dbo].[EventStudent] CHECK CONSTRAINT [FK_dbo.EventStudent_dbo.Student_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.EventCategory_dbo.Category_CategoryId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[EventCategory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventCategory_dbo.Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventCategory] CHECK CONSTRAINT [FK_dbo.EventCategory_dbo.Category_CategoryId]
GO
/****** Object:  ForeignKey [FK_dbo.EventCategory_dbo.Event_EventId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[EventCategory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventCategory_dbo.Event_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventCategory] CHECK CONSTRAINT [FK_dbo.EventCategory_dbo.Event_EventId]
GO
/****** Object:  ForeignKey [FK_dbo.CategoryJob_dbo.Category_CategoryId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[CategoryJob]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryJob_dbo.Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryJob] CHECK CONSTRAINT [FK_dbo.CategoryJob_dbo.Category_CategoryId]
GO
/****** Object:  ForeignKey [FK_dbo.CategoryJob_dbo.Job_JobId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[CategoryJob]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryJob_dbo.Job_JobId] FOREIGN KEY([JobId])
REFERENCES [dbo].[Job] ([JobId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryJob] CHECK CONSTRAINT [FK_dbo.CategoryJob_dbo.Job_JobId]
GO
/****** Object:  ForeignKey [FK_dbo.SuggestionJob_dbo.Job_JobId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[SuggestionJob]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SuggestionJob_dbo.Job_JobId] FOREIGN KEY([JobId])
REFERENCES [dbo].[Job] ([JobId])
GO
ALTER TABLE [dbo].[SuggestionJob] CHECK CONSTRAINT [FK_dbo.SuggestionJob_dbo.Job_JobId]
GO
/****** Object:  ForeignKey [FK_dbo.SuggestionJob_dbo.Student_UserName]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[SuggestionJob]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SuggestionJob_dbo.Student_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[Student] ([UserName])
GO
ALTER TABLE [dbo].[SuggestionJob] CHECK CONSTRAINT [FK_dbo.SuggestionJob_dbo.Student_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.SuggestionEvent_dbo.Event_EventId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[SuggestionEvent]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SuggestionEvent_dbo.Event_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
GO
ALTER TABLE [dbo].[SuggestionEvent] CHECK CONSTRAINT [FK_dbo.SuggestionEvent_dbo.Event_EventId]
GO
/****** Object:  ForeignKey [FK_dbo.SuggestionEvent_dbo.Student_UserName]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[SuggestionEvent]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SuggestionEvent_dbo.Student_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[Student] ([UserName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SuggestionEvent] CHECK CONSTRAINT [FK_dbo.SuggestionEvent_dbo.Student_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.SkillJob_dbo.Job_JobId]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[SkillJob]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SkillJob_dbo.Job_JobId] FOREIGN KEY([JobId])
REFERENCES [dbo].[Job] ([JobId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SkillJob] CHECK CONSTRAINT [FK_dbo.SkillJob_dbo.Job_JobId]
GO
/****** Object:  ForeignKey [FK_dbo.SkillJob_dbo.Skill_Skillid]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[SkillJob]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SkillJob_dbo.Skill_Skillid] FOREIGN KEY([Skillid])
REFERENCES [dbo].[Skill] ([SkillId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SkillJob] CHECK CONSTRAINT [FK_dbo.SkillJob_dbo.Skill_Skillid]
GO
/****** Object:  ForeignKey [FK_ResultContest_QuestionsContest]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[ResultContest]  WITH CHECK ADD  CONSTRAINT [FK_ResultContest_QuestionsContest] FOREIGN KEY([ContestId], [QuestionId])
REFERENCES [dbo].[QuestionsContest] ([ContestId], [QuestionId])
GO
ALTER TABLE [dbo].[ResultContest] CHECK CONSTRAINT [FK_ResultContest_QuestionsContest]
GO
/****** Object:  ForeignKey [FK_ResultContest_Student]    Script Date: 04/16/2015 06:03:44 ******/
ALTER TABLE [dbo].[ResultContest]  WITH CHECK ADD  CONSTRAINT [FK_ResultContest_Student] FOREIGN KEY([StudentName])
REFERENCES [dbo].[Student] ([UserName])
GO
ALTER TABLE [dbo].[ResultContest] CHECK CONSTRAINT [FK_ResultContest_Student]
GO
