USE MASTER
GO

CREATE database SBWebsiteData
GO

USE SBWebsiteData
GO
/****** Object:  Table [dbo].[Role]    Script Date: 02/10/2015 23:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.ROLES] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Account]    Script Date: 02/10/2015 23:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[UserName] [varchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Status] [bit] NULL,
	[StaffApprove] [varchar](50) NULL,
 CONSTRAINT [PK_dbo.ACCOUNTS] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Applicant]    Script Date: 02/10/2015 23:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Applicant](
	[UserName] [varchar](50) NOT NULL,
	[StaffId] [int] NULL,
	[FirstName] [varchar](20) NULL,
	[LastName] [nvarchar](50) NULL,
	[Address] [nvarchar](300) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Age] [int] NOT NULL,
 CONSTRAINT [PK_dbo.APPLICANTS] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employer]    Script Date: 02/10/2015 23:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employer](
	[UserName] [varchar](50) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Address] [nvarchar](300) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Descriptions] [nvarchar](1500) NULL,
 CONSTRAINT [PK_dbo.EMPLOYER] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Job]    Script Date: 02/10/2015 23:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Job](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Description] [nvarchar](1500) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[CandidateQuantity] [int] NULL,
	[Status] [bit] NULL,
	[Age] [int] NULL,
 CONSTRAINT [PK_dbo.JOBS] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JobApplicant]    Script Date: 02/10/2015 23:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JobApplicant](
	[UserApplicant] [varchar](50) NOT NULL,
	[JobId] [int] NOT NULL,
	[ApplyTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.JOB_APPLICANTS] PRIMARY KEY CLUSTERED 
(
	[UserApplicant] ASC,
	[JobId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Suggestion]    Script Date: 02/10/2015 23:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Suggestion](
	[UserName] [varchar](50) NOT NULL,
	[JobId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SUGGESTIONS] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC,
	[JobId] ASC,
	[EventId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 02/10/2015 23:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Staff](
	[UserName] [varchar](50) NOT NULL,
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Address] [nvarchar](300) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
 CONSTRAINT [PK_dbo.STAFFS] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Time]    Script Date: 02/10/2015 23:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Time](
	[TimeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.TIME] PRIMARY KEY CLUSTERED 
(
	[TimeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobTime]    Script Date: 02/10/2015 23:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTime](
	[JobId] [int] NOT NULL,
	[TimeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.JOBS_TIME] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC,
	[TimeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicantFreetime]    Script Date: 02/10/2015 23:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ApplicantFreetime](
	[UserName] [varchar](50) NOT NULL,
	[TimeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.APPLICANT_FREETIME] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC,
	[TimeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Skill]    Script Date: 02/10/2015 23:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[SkillId] [int] IDENTITY(1,1) NOT NULL,
	[SkillName] [nvarchar](100) NULL,
	[Description] [nvarchar](1500) NULL,
 CONSTRAINT [PK_dbo.SKILLS] PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkillJob]    Script Date: 02/10/2015 23:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillJob](
	[JOB_SEQ] [int] NOT NULL,
	[SKILL_SEQ] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SKILLS_JOBS] PRIMARY KEY CLUSTERED 
(
	[JOB_SEQ] ASC,
	[SKILL_SEQ] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicantSkill]    Script Date: 02/10/2015 23:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ApplicantSkill](
	[UserName] [varchar](50) NOT NULL,
	[SkillId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.APPLICANTS_SKILLS] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC,
	[SkillId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 02/10/2015 23:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_dbo.JOB_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryJob]    Script Date: 02/10/2015 23:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryJob](
	[CategoryId] [int] NOT NULL,
	[JobId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.JOBCATEGORIES_JOBS] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC,
	[JobId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicantCategory]    Script Date: 02/10/2015 23:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ApplicantCategory](
	[UserName] [varchar](50) NOT NULL,
	[JobCategoryId] [int] NOT NULL,
	[Description] [nvarchar](150) NULL,
 CONSTRAINT [PK_dbo.APPLICANT_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC,
	[JobCategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_dbo.ACCOUNTS_dbo.ROLES_ROLE_SEQ]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ACCOUNTS_dbo.ROLES_ROLE_SEQ] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_dbo.ACCOUNTS_dbo.ROLES_ROLE_SEQ]
GO
/****** Object:  ForeignKey [FK_dbo.ACCOUNTS_dbo.STAFFS_STAFF_APPROVE]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ACCOUNTS_dbo.STAFFS_STAFF_APPROVE] FOREIGN KEY([StaffApprove])
REFERENCES [dbo].[Staff] ([UserName])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_dbo.ACCOUNTS_dbo.STAFFS_STAFF_APPROVE]
GO
/****** Object:  ForeignKey [FK_dbo.APPLICANTS_dbo.ACCOUNTS_USER_NAME]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[Applicant]  WITH CHECK ADD  CONSTRAINT [FK_dbo.APPLICANTS_dbo.ACCOUNTS_USER_NAME] FOREIGN KEY([UserName])
REFERENCES [dbo].[Account] ([UserName])
GO
ALTER TABLE [dbo].[Applicant] CHECK CONSTRAINT [FK_dbo.APPLICANTS_dbo.ACCOUNTS_USER_NAME]
GO
/****** Object:  ForeignKey [FK_dbo.APPLICANT_CATEGORIES_dbo.APPLICANTS_USER_NAME]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[ApplicantCategory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.APPLICANT_CATEGORIES_dbo.APPLICANTS_USER_NAME] FOREIGN KEY([UserName])
REFERENCES [dbo].[Applicant] ([UserName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicantCategory] CHECK CONSTRAINT [FK_dbo.APPLICANT_CATEGORIES_dbo.APPLICANTS_USER_NAME]
GO
/****** Object:  ForeignKey [FK_dbo.APPLICANT_CATEGORIES_dbo.JOB_CATEGORIES_JOB_CATEGORY_SEQ]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[ApplicantCategory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.APPLICANT_CATEGORIES_dbo.JOB_CATEGORIES_JOB_CATEGORY_SEQ] FOREIGN KEY([JobCategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicantCategory] CHECK CONSTRAINT [FK_dbo.APPLICANT_CATEGORIES_dbo.JOB_CATEGORIES_JOB_CATEGORY_SEQ]
GO
/****** Object:  ForeignKey [FK_dbo.APPLICANT_FREETIME_dbo.APPLICANTS_USER_NAME]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[ApplicantFreetime]  WITH CHECK ADD  CONSTRAINT [FK_dbo.APPLICANT_FREETIME_dbo.APPLICANTS_USER_NAME] FOREIGN KEY([UserName])
REFERENCES [dbo].[Applicant] ([UserName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicantFreetime] CHECK CONSTRAINT [FK_dbo.APPLICANT_FREETIME_dbo.APPLICANTS_USER_NAME]
GO
/****** Object:  ForeignKey [FK_dbo.APPLICANT_FREETIME_dbo.TIME_TIME_SEQ]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[ApplicantFreetime]  WITH CHECK ADD  CONSTRAINT [FK_dbo.APPLICANT_FREETIME_dbo.TIME_TIME_SEQ] FOREIGN KEY([TimeId])
REFERENCES [dbo].[Time] ([TimeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicantFreetime] CHECK CONSTRAINT [FK_dbo.APPLICANT_FREETIME_dbo.TIME_TIME_SEQ]
GO
/****** Object:  ForeignKey [FK_dbo.APPLICANTS_SKILLS_dbo.APPLICANTS_USER_NAME]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[ApplicantSkill]  WITH CHECK ADD  CONSTRAINT [FK_dbo.APPLICANTS_SKILLS_dbo.APPLICANTS_USER_NAME] FOREIGN KEY([UserName])
REFERENCES [dbo].[Applicant] ([UserName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicantSkill] CHECK CONSTRAINT [FK_dbo.APPLICANTS_SKILLS_dbo.APPLICANTS_USER_NAME]
GO
/****** Object:  ForeignKey [FK_dbo.APPLICANTS_SKILLS_dbo.SKILLS_SKILL_SEQ]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[ApplicantSkill]  WITH CHECK ADD  CONSTRAINT [FK_dbo.APPLICANTS_SKILLS_dbo.SKILLS_SKILL_SEQ] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skill] ([SkillId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicantSkill] CHECK CONSTRAINT [FK_dbo.APPLICANTS_SKILLS_dbo.SKILLS_SKILL_SEQ]
GO
/****** Object:  ForeignKey [FK_dbo.JOBCATEGORIES_JOBS_dbo.JOB_CATEGORIES_JOB_CATEGORY_SEQ]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[CategoryJob]  WITH CHECK ADD  CONSTRAINT [FK_dbo.JOBCATEGORIES_JOBS_dbo.JOB_CATEGORIES_JOB_CATEGORY_SEQ] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryJob] CHECK CONSTRAINT [FK_dbo.JOBCATEGORIES_JOBS_dbo.JOB_CATEGORIES_JOB_CATEGORY_SEQ]
GO
/****** Object:  ForeignKey [FK_dbo.JOBCATEGORIES_JOBS_dbo.JOBS_JOB_SEQ]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[CategoryJob]  WITH CHECK ADD  CONSTRAINT [FK_dbo.JOBCATEGORIES_JOBS_dbo.JOBS_JOB_SEQ] FOREIGN KEY([JobId])
REFERENCES [dbo].[Job] ([JobId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryJob] CHECK CONSTRAINT [FK_dbo.JOBCATEGORIES_JOBS_dbo.JOBS_JOB_SEQ]
GO
/****** Object:  ForeignKey [FK_dbo.EMPLOYER_dbo.ACCOUNTS_USER_NAME]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[Employer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EMPLOYER_dbo.ACCOUNTS_USER_NAME] FOREIGN KEY([UserName])
REFERENCES [dbo].[Account] ([UserName])
GO
ALTER TABLE [dbo].[Employer] CHECK CONSTRAINT [FK_dbo.EMPLOYER_dbo.ACCOUNTS_USER_NAME]
GO
/****** Object:  ForeignKey [FK_dbo.JOBS_dbo.EMPLOYER_USER_NAME]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_dbo.JOBS_dbo.EMPLOYER_USER_NAME] FOREIGN KEY([UserName])
REFERENCES [dbo].[Employer] ([UserName])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_dbo.JOBS_dbo.EMPLOYER_USER_NAME]
GO
/****** Object:  ForeignKey [FK_dbo.JOB_APPLICANTS_dbo.APPLICANTS_USER_APPLICANT]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[JobApplicant]  WITH CHECK ADD  CONSTRAINT [FK_dbo.JOB_APPLICANTS_dbo.APPLICANTS_USER_APPLICANT] FOREIGN KEY([UserApplicant])
REFERENCES [dbo].[Applicant] ([UserName])
GO
ALTER TABLE [dbo].[JobApplicant] CHECK CONSTRAINT [FK_dbo.JOB_APPLICANTS_dbo.APPLICANTS_USER_APPLICANT]
GO
/****** Object:  ForeignKey [FK_dbo.JOB_APPLICANTS_dbo.JOBS_JOB_SEQ]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[JobApplicant]  WITH CHECK ADD  CONSTRAINT [FK_dbo.JOB_APPLICANTS_dbo.JOBS_JOB_SEQ] FOREIGN KEY([JobId])
REFERENCES [dbo].[Job] ([JobId])
GO
ALTER TABLE [dbo].[JobApplicant] CHECK CONSTRAINT [FK_dbo.JOB_APPLICANTS_dbo.JOBS_JOB_SEQ]
GO
/****** Object:  ForeignKey [FK_dbo.JOBS_TIME_dbo.JOBS_JOB_SEQ]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[JobTime]  WITH CHECK ADD  CONSTRAINT [FK_dbo.JOBS_TIME_dbo.JOBS_JOB_SEQ] FOREIGN KEY([JobId])
REFERENCES [dbo].[Job] ([JobId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobTime] CHECK CONSTRAINT [FK_dbo.JOBS_TIME_dbo.JOBS_JOB_SEQ]
GO
/****** Object:  ForeignKey [FK_dbo.JOBS_TIME_dbo.TIME_TIME_SEQ]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[JobTime]  WITH CHECK ADD  CONSTRAINT [FK_dbo.JOBS_TIME_dbo.TIME_TIME_SEQ] FOREIGN KEY([TimeId])
REFERENCES [dbo].[Time] ([TimeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobTime] CHECK CONSTRAINT [FK_dbo.JOBS_TIME_dbo.TIME_TIME_SEQ]
GO
/****** Object:  ForeignKey [FK_dbo.SKILLS_JOBS_dbo.JOBS_JOB_SEQ]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[SkillJob]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SKILLS_JOBS_dbo.JOBS_JOB_SEQ] FOREIGN KEY([JOB_SEQ])
REFERENCES [dbo].[Job] ([JobId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SkillJob] CHECK CONSTRAINT [FK_dbo.SKILLS_JOBS_dbo.JOBS_JOB_SEQ]
GO
/****** Object:  ForeignKey [FK_dbo.SKILLS_JOBS_dbo.SKILLS_SKILL_SEQ]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[SkillJob]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SKILLS_JOBS_dbo.SKILLS_SKILL_SEQ] FOREIGN KEY([SKILL_SEQ])
REFERENCES [dbo].[Skill] ([SkillId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SkillJob] CHECK CONSTRAINT [FK_dbo.SKILLS_JOBS_dbo.SKILLS_SKILL_SEQ]
GO
/****** Object:  ForeignKey [FK_dbo.STAFFS_dbo.ACCOUNTS_USER_NAME]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_dbo.STAFFS_dbo.ACCOUNTS_USER_NAME] FOREIGN KEY([UserName])
REFERENCES [dbo].[Account] ([UserName])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_dbo.STAFFS_dbo.ACCOUNTS_USER_NAME]
GO
/****** Object:  ForeignKey [FK_dbo.SUGGESTIONS_dbo.APPLICANTS_USER_NAME]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[Suggestion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SUGGESTIONS_dbo.APPLICANTS_USER_NAME] FOREIGN KEY([UserName])
REFERENCES [dbo].[Applicant] ([UserName])
GO
ALTER TABLE [dbo].[Suggestion] CHECK CONSTRAINT [FK_dbo.SUGGESTIONS_dbo.APPLICANTS_USER_NAME]
GO
/****** Object:  ForeignKey [FK_dbo.SUGGESTIONS_dbo.JOBS_JOBS_SEQ]    Script Date: 02/10/2015 23:06:26 ******/
ALTER TABLE [dbo].[Suggestion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SUGGESTIONS_dbo.JOBS_JOBS_SEQ] FOREIGN KEY([JobId])
REFERENCES [dbo].[Job] ([JobId])
GO
ALTER TABLE [dbo].[Suggestion] CHECK CONSTRAINT [FK_dbo.SUGGESTIONS_dbo.JOBS_JOBS_SEQ]
GO
