USE [SBWData]
GO
/****** Object:  Table [dbo].[SKILLS]    Script Date: 02/08/2015 22:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SKILLS](
	[SKILL_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[SKILL_NAME] [nvarchar](max) NULL,
	[DESCRIPTIONS] [nvarchar](max) NULL,
 CONSTRAINT [PK_SKILLS] PRIMARY KEY NONCLUSTERED 
(
	[SKILL_SEQ] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 02/08/2015 22:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ROLE_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY NONCLUSTERED 
(
	[ROLE_SEQ] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIME]    Script Date: 02/08/2015 22:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIME](
	[TIME_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_TIME] PRIMARY KEY NONCLUSTERED 
(
	[TIME_SEQ] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB_CATEGORIES]    Script Date: 02/08/2015 22:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_CATEGORIES](
	[JOB_CATEGORY_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_JOB_CATEGORIES] PRIMARY KEY NONCLUSTERED 
(
	[JOB_CATEGORY_SEQ] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 02/08/2015 22:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[USER_NAME] [nvarchar](50) NOT NULL,
	[ROLE_SEQ] [int] NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_ACCOUNTS] PRIMARY KEY NONCLUSTERED 
(
	[USER_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STAFFS]    Script Date: 02/08/2015 22:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFFS](
	[STAFF_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [nvarchar](50) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[PHONE] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
 CONSTRAINT [PK_STAFFS] PRIMARY KEY NONCLUSTERED 
(
	[USER_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPLICANTS]    Script Date: 02/08/2015 22:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICANTS](
	[USER_NAME] [nvarchar](50) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[PHONE] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[AGE] [int] NOT NULL,
	[linkCV] [nvarchar](max) NULL,
 CONSTRAINT [PK_APPLICANTS] PRIMARY KEY NONCLUSTERED 
(
	[USER_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPLICANT_FREETIME]    Script Date: 02/08/2015 22:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICANT_FREETIME](
	[TIME_SEQ] [int] NOT NULL,
	[USER_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_APPLICANT_FREETIME] PRIMARY KEY NONCLUSTERED 
(
	[TIME_SEQ] ASC,
	[USER_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPLICANT_CATEGORIES]    Script Date: 02/08/2015 22:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICANT_CATEGORIES](
	[USER_NAME] [nvarchar](50) NOT NULL,
	[JOB_CATEGORY_SEQ] [int] NOT NULL,
 CONSTRAINT [PK_APPLICANT_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[USER_NAME] ASC,
	[JOB_CATEGORY_SEQ] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYER]    Script Date: 02/08/2015 22:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYER](
	[USER_NAME] [nvarchar](50) NOT NULL,
	[NAME] [varchar](150) NULL,
	[ADDRESS] [varchar](300) NULL,
	[EMAIL] [varchar](100) NULL,
	[PHONE] [varchar](20) NULL,
	[DESCRIPTIONS] [varchar](1500) NULL,
	[STAFF_APPROVE] [nvarchar](50) NULL,
 CONSTRAINT [PK_EMPLOYER] PRIMARY KEY NONCLUSTERED 
(
	[USER_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[APPLICANTS_SKILLS]    Script Date: 02/08/2015 22:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICANTS_SKILLS](
	[SKILL_SEQ] [int] NOT NULL,
	[USER_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_APPLICANTS_SKILLS] PRIMARY KEY NONCLUSTERED 
(
	[SKILL_SEQ] ASC,
	[USER_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOBS]    Script Date: 02/08/2015 22:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBS](
	[JOB_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](150) NULL,
	[DESCRIPTIONS] [nvarchar](1500) NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[CANDIDATE_QUANTITY] [int] NULL,
	[STATUS] [bit] NULL,
	[AGE] [int] NULL,
 CONSTRAINT [PK_JOBS] PRIMARY KEY NONCLUSTERED 
(
	[JOB_SEQ] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUGGESTIONS]    Script Date: 02/08/2015 22:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUGGESTIONS](
	[USER_NAME] [nvarchar](50) NOT NULL,
	[JOBS_SEQ] [int] NOT NULL,
	[EVENT_SEQ] [int] NOT NULL,
 CONSTRAINT [PK_SUGGESTIONS] PRIMARY KEY CLUSTERED 
(
	[USER_NAME] ASC,
	[JOBS_SEQ] ASC,
	[EVENT_SEQ] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SKILLS_JOBS]    Script Date: 02/08/2015 22:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SKILLS_JOBS](
	[JOB_SEQ] [int] NOT NULL,
	[SKILL_SEQ] [int] NOT NULL,
 CONSTRAINT [PK_SKILLS_JOBS] PRIMARY KEY NONCLUSTERED 
(
	[JOB_SEQ] ASC,
	[SKILL_SEQ] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOBS_TIME]    Script Date: 02/08/2015 22:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBS_TIME](
	[TIME_SEQ] [int] NOT NULL,
	[JOB_SEQ] [int] NOT NULL,
 CONSTRAINT [PK_JOBS_TIME] PRIMARY KEY NONCLUSTERED 
(
	[TIME_SEQ] ASC,
	[JOB_SEQ] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOBCATEGORIES_JOBS]    Script Date: 02/08/2015 22:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBCATEGORIES_JOBS](
	[JOB_SEQ] [int] NOT NULL,
	[JOB_CATEGORY_SEQ] [int] NOT NULL,
 CONSTRAINT [PK_JOBCATEGORIES_JOBS] PRIMARY KEY NONCLUSTERED 
(
	[JOB_SEQ] ASC,
	[JOB_CATEGORY_SEQ] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB_APPLICANTS]    Script Date: 02/08/2015 22:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_APPLICANTS](
	[USER_APPLICANT] [nvarchar](50) NOT NULL,
	[JOB_SEQ] [int] NOT NULL,
	[APPLY_TIME] [datetime] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_JOB_APPLICANTS] PRIMARY KEY CLUSTERED 
(
	[USER_APPLICANT] ASC,
	[JOB_SEQ] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_ACCOUNTS_ROLES]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[ACCOUNTS]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNTS_ROLES] FOREIGN KEY([ROLE_SEQ])
REFERENCES [dbo].[ROLES] ([ROLE_SEQ])
GO
ALTER TABLE [dbo].[ACCOUNTS] CHECK CONSTRAINT [FK_ACCOUNTS_ROLES]
GO
/****** Object:  ForeignKey [FK_APPLICANT_CATEGORIES_APPLICANTS]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[APPLICANT_CATEGORIES]  WITH CHECK ADD  CONSTRAINT [FK_APPLICANT_CATEGORIES_APPLICANTS] FOREIGN KEY([USER_NAME])
REFERENCES [dbo].[APPLICANTS] ([USER_NAME])
GO
ALTER TABLE [dbo].[APPLICANT_CATEGORIES] CHECK CONSTRAINT [FK_APPLICANT_CATEGORIES_APPLICANTS]
GO
/****** Object:  ForeignKey [FK_APPLICANT_CATEGORIES_JOB_CATEGORIES]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[APPLICANT_CATEGORIES]  WITH CHECK ADD  CONSTRAINT [FK_APPLICANT_CATEGORIES_JOB_CATEGORIES] FOREIGN KEY([JOB_CATEGORY_SEQ])
REFERENCES [dbo].[JOB_CATEGORIES] ([JOB_CATEGORY_SEQ])
GO
ALTER TABLE [dbo].[APPLICANT_CATEGORIES] CHECK CONSTRAINT [FK_APPLICANT_CATEGORIES_JOB_CATEGORIES]
GO
/****** Object:  ForeignKey [FK_APPLICANT_FREETIME_APPLICANTS]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[APPLICANT_FREETIME]  WITH CHECK ADD  CONSTRAINT [FK_APPLICANT_FREETIME_APPLICANTS] FOREIGN KEY([USER_NAME])
REFERENCES [dbo].[APPLICANTS] ([USER_NAME])
GO
ALTER TABLE [dbo].[APPLICANT_FREETIME] CHECK CONSTRAINT [FK_APPLICANT_FREETIME_APPLICANTS]
GO
/****** Object:  ForeignKey [FK_APPLICANT_FREETIME_TIME]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[APPLICANT_FREETIME]  WITH CHECK ADD  CONSTRAINT [FK_APPLICANT_FREETIME_TIME] FOREIGN KEY([TIME_SEQ])
REFERENCES [dbo].[TIME] ([TIME_SEQ])
GO
ALTER TABLE [dbo].[APPLICANT_FREETIME] CHECK CONSTRAINT [FK_APPLICANT_FREETIME_TIME]
GO
/****** Object:  ForeignKey [FK_APPLICAN_APPLICANT_ACCOUNTS]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[APPLICANTS]  WITH CHECK ADD  CONSTRAINT [FK_APPLICAN_APPLICANT_ACCOUNTS] FOREIGN KEY([USER_NAME])
REFERENCES [dbo].[ACCOUNTS] ([USER_NAME])
GO
ALTER TABLE [dbo].[APPLICANTS] CHECK CONSTRAINT [FK_APPLICAN_APPLICANT_ACCOUNTS]
GO
/****** Object:  ForeignKey [FK_APPLICANTS_SKILLS_APPLICANTS1]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[APPLICANTS_SKILLS]  WITH CHECK ADD  CONSTRAINT [FK_APPLICANTS_SKILLS_APPLICANTS1] FOREIGN KEY([USER_NAME])
REFERENCES [dbo].[APPLICANTS] ([USER_NAME])
GO
ALTER TABLE [dbo].[APPLICANTS_SKILLS] CHECK CONSTRAINT [FK_APPLICANTS_SKILLS_APPLICANTS1]
GO
/****** Object:  ForeignKey [FK_APPLICANTS_SKILLS_SKILLS]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[APPLICANTS_SKILLS]  WITH CHECK ADD  CONSTRAINT [FK_APPLICANTS_SKILLS_SKILLS] FOREIGN KEY([SKILL_SEQ])
REFERENCES [dbo].[SKILLS] ([SKILL_SEQ])
GO
ALTER TABLE [dbo].[APPLICANTS_SKILLS] CHECK CONSTRAINT [FK_APPLICANTS_SKILLS_SKILLS]
GO
/****** Object:  ForeignKey [FK_EMPLOYER_ACCOUNTS]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[EMPLOYER]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYER_ACCOUNTS] FOREIGN KEY([USER_NAME])
REFERENCES [dbo].[ACCOUNTS] ([USER_NAME])
GO
ALTER TABLE [dbo].[EMPLOYER] CHECK CONSTRAINT [FK_EMPLOYER_ACCOUNTS]
GO
/****** Object:  ForeignKey [FK_EMPLOYER_STAFFS1]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[EMPLOYER]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYER_STAFFS1] FOREIGN KEY([STAFF_APPROVE])
REFERENCES [dbo].[STAFFS] ([USER_NAME])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EMPLOYER] CHECK CONSTRAINT [FK_EMPLOYER_STAFFS1]
GO
/****** Object:  ForeignKey [FK_JOB_APPLICANTS_APPLICANTS]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[JOB_APPLICANTS]  WITH CHECK ADD  CONSTRAINT [FK_JOB_APPLICANTS_APPLICANTS] FOREIGN KEY([USER_APPLICANT])
REFERENCES [dbo].[APPLICANTS] ([USER_NAME])
GO
ALTER TABLE [dbo].[JOB_APPLICANTS] CHECK CONSTRAINT [FK_JOB_APPLICANTS_APPLICANTS]
GO
/****** Object:  ForeignKey [FK_JOB_APPLICANTS_JOBS]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[JOB_APPLICANTS]  WITH CHECK ADD  CONSTRAINT [FK_JOB_APPLICANTS_JOBS] FOREIGN KEY([JOB_SEQ])
REFERENCES [dbo].[JOBS] ([JOB_SEQ])
GO
ALTER TABLE [dbo].[JOB_APPLICANTS] CHECK CONSTRAINT [FK_JOB_APPLICANTS_JOBS]
GO
/****** Object:  ForeignKey [FK_JOBCATEGORIES_JOBS_JOB_CATEGORIES]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[JOBCATEGORIES_JOBS]  WITH CHECK ADD  CONSTRAINT [FK_JOBCATEGORIES_JOBS_JOB_CATEGORIES] FOREIGN KEY([JOB_CATEGORY_SEQ])
REFERENCES [dbo].[JOB_CATEGORIES] ([JOB_CATEGORY_SEQ])
GO
ALTER TABLE [dbo].[JOBCATEGORIES_JOBS] CHECK CONSTRAINT [FK_JOBCATEGORIES_JOBS_JOB_CATEGORIES]
GO
/****** Object:  ForeignKey [FK_JOBCATEGORIES_JOBS_JOBS]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[JOBCATEGORIES_JOBS]  WITH CHECK ADD  CONSTRAINT [FK_JOBCATEGORIES_JOBS_JOBS] FOREIGN KEY([JOB_SEQ])
REFERENCES [dbo].[JOBS] ([JOB_SEQ])
GO
ALTER TABLE [dbo].[JOBCATEGORIES_JOBS] CHECK CONSTRAINT [FK_JOBCATEGORIES_JOBS_JOBS]
GO
/****** Object:  ForeignKey [FK_JOBS_EMPLOYER1]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[JOBS]  WITH CHECK ADD  CONSTRAINT [FK_JOBS_EMPLOYER1] FOREIGN KEY([USER_NAME])
REFERENCES [dbo].[EMPLOYER] ([USER_NAME])
GO
ALTER TABLE [dbo].[JOBS] CHECK CONSTRAINT [FK_JOBS_EMPLOYER1]
GO
/****** Object:  ForeignKey [FK_JOBS_TIME_JOBS]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[JOBS_TIME]  WITH CHECK ADD  CONSTRAINT [FK_JOBS_TIME_JOBS] FOREIGN KEY([JOB_SEQ])
REFERENCES [dbo].[JOBS] ([JOB_SEQ])
GO
ALTER TABLE [dbo].[JOBS_TIME] CHECK CONSTRAINT [FK_JOBS_TIME_JOBS]
GO
/****** Object:  ForeignKey [FK_JOBS_TIME_TIME]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[JOBS_TIME]  WITH CHECK ADD  CONSTRAINT [FK_JOBS_TIME_TIME] FOREIGN KEY([TIME_SEQ])
REFERENCES [dbo].[TIME] ([TIME_SEQ])
GO
ALTER TABLE [dbo].[JOBS_TIME] CHECK CONSTRAINT [FK_JOBS_TIME_TIME]
GO
/****** Object:  ForeignKey [FK_SKILLS_JOBS_JOBS]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[SKILLS_JOBS]  WITH CHECK ADD  CONSTRAINT [FK_SKILLS_JOBS_JOBS] FOREIGN KEY([JOB_SEQ])
REFERENCES [dbo].[JOBS] ([JOB_SEQ])
GO
ALTER TABLE [dbo].[SKILLS_JOBS] CHECK CONSTRAINT [FK_SKILLS_JOBS_JOBS]
GO
/****** Object:  ForeignKey [FK_SKILLS_JOBS_SKILLS]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[SKILLS_JOBS]  WITH CHECK ADD  CONSTRAINT [FK_SKILLS_JOBS_SKILLS] FOREIGN KEY([SKILL_SEQ])
REFERENCES [dbo].[SKILLS] ([SKILL_SEQ])
GO
ALTER TABLE [dbo].[SKILLS_JOBS] CHECK CONSTRAINT [FK_SKILLS_JOBS_SKILLS]
GO
/****** Object:  ForeignKey [FK_STAFFS_STAFF_ACC_ACCOUNTS]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[STAFFS]  WITH CHECK ADD  CONSTRAINT [FK_STAFFS_STAFF_ACC_ACCOUNTS] FOREIGN KEY([USER_NAME])
REFERENCES [dbo].[ACCOUNTS] ([USER_NAME])
GO
ALTER TABLE [dbo].[STAFFS] CHECK CONSTRAINT [FK_STAFFS_STAFF_ACC_ACCOUNTS]
GO
/****** Object:  ForeignKey [FK_SUGGESTIONS_APPLICANTS]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[SUGGESTIONS]  WITH CHECK ADD  CONSTRAINT [FK_SUGGESTIONS_APPLICANTS] FOREIGN KEY([USER_NAME])
REFERENCES [dbo].[APPLICANTS] ([USER_NAME])
GO
ALTER TABLE [dbo].[SUGGESTIONS] CHECK CONSTRAINT [FK_SUGGESTIONS_APPLICANTS]
GO
/****** Object:  ForeignKey [FK_SUGGESTIONS_JOBS]    Script Date: 02/08/2015 22:29:25 ******/
ALTER TABLE [dbo].[SUGGESTIONS]  WITH CHECK ADD  CONSTRAINT [FK_SUGGESTIONS_JOBS] FOREIGN KEY([JOBS_SEQ])
REFERENCES [dbo].[JOBS] ([JOB_SEQ])
GO
ALTER TABLE [dbo].[SUGGESTIONS] CHECK CONSTRAINT [FK_SUGGESTIONS_JOBS]
GO
